* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
ol,
ul {
  list-style: none;
}

:root {
  --vt-c-primary: #0070f3;
  --vt-c-secondary: #1ea8ff;
  --vt-c-accent: #83ddff;

  background: #fff;
}
